<% content_for :page_title, "Articles" %>
<body style="background-color: #f7f5f5;">
<section class="section">
  <div class="container">
    <%= link_to "Post new article", new_article_path, class:"button is-info is-small"%>
    <hr />
    <% @article.each do |article| %>
    <div class="card" style="margin-bottom:20px">
      <div class="card-content">
        <div class="media"><div class="media-content"><p class="title is-4"><%= link_to "# "+article.title.to_str, article %> </p></div></div>
        <div class="content" ><div class="notification" style="background-color:#f9fff8; color:#0a0a0a;max-height:520px;overflow:auto"><%= article.content %></div></div>
        <div class="comment-count"><span class="tag is-rounded"></span></div>
      </div>
    </div>
    <% end %>
  </div>
</section>
</body>
