<body style="background-color: #f7f5f5;">
<section class="section">
  <div class="container">
    <h1 class="title"><%= @article.title %></h1>
    <div class="content"><div class="notification" style="background-color:#f9fff8; color:#0a0a0a"><%= @article.content %></div></div>
  </div>
</section>
</body>
