<% content_for :page_title, "Articles" %>
<body style="background-color: #f7f5f5;">
<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <p class="level-item"></p>
      </div>
      <div class="level-right">
        <p class="level-item">
          <%= link_to "Edit", edit_article_path(@article), class: "button is-info is-small" %>
        </p>
        <p class="level-item">
          <%= link_to "Delete", article_path(@article), method: :delete, data:{ confirm: "Are you sure?? "}, class: "button is-danger is-small" %>
        </p>
      </div>
    </nav>
    <h1 class="title"><%= @article.title %></h1>
    <div class="container" ><div class="content" ><div class="notification" style="background-color:#f9fff8; color:#0a0a0a"><%= raw @article.content %></div></div></div>
    <hr />
    <hr />
  </div>
</section>

<section class="comment">

</section>
</body>
