<section class="section">
  <div class="container">
    <h1 class="title"><%= @article.title %></h1>
    <div class="content"><div class="notification"><%= @article.content %></div></div>
  </div>
</section>
