<section class="hero is-fullheight is-primary is-bold">
  <div class="hero-body ">
    <div class="container has-text-centered">
      <h1 class="title is-1">Ecotify</h1>
      <p class="content is-medium">This website is getting built, hang on tight!</p>
    </div>
  </div>
</section>
